@model CookBookAdoWeb.Models.Dish

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться", "Index")
</p>
