@model IEnumerable<CookBookAdoWeb.Models.Unit>

@{
    ViewBag.Title = "Единицы измерения";
}

<h2>Единицы измерения</h2>

<p>
    @Html.ActionLink("Добавить единицу измерения", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdUnit)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NameUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdUnit)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NameUnit)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new {  id=item.IdUnit  }) |
            @Html.ActionLink("Детали", "Details", new {  id=item.IdUnit }) |
            @Html.ActionLink("Удалить", "Delete", new {  id=item.IdUnit })
        </td>
    </tr>
}

</table>
